// begin content 
.content
    .content__top
        .swiper-container.content__slider
            .swiper-wrapper
                .swiper-slide
                    .content__slider-item
                        .content__container
                            .content__inner
                                .content__text
                                    h1.title ИСД-5
                                    h2 Оптические датчики скорости и дистанции
                                    p
                                        |Измеритель скорости и длины исд-5 предназначен для использования в металлургической, кабельной, химической, целлюлозно-бумажно, текстильной и деревообрабатывающей промышленности в автоматизированных системах управления, раскроя и учета.
                                        br
                                        | Измерение скорости и положения объектов, движущихся возвратно=поступательно относительно датчика, либо относительно земли.

                                    p принцип измерения - лазерный интерференционный.
                                    .content__text-bottom
                                        a.link(href="https://globalsolutions.ru/" target="_blank") подробнее
                                .content__img
                                    img(src="img/slider/isd-5.png", alt="ИСД-5")
                            .decrease-button
                                button
                .swiper-slide
                    .content__slider-item
                        .content__container
                            .content__inner
                                .content__text
                                    h1.title ИСД-3
                                    h2 Оптические датчики скорости и дистанции
                                    p
                                        |Датчик предназначен для высокоточного измерения скороссти и пройденного пути транспортного средства отностильеон дороги (в автомобильной промышленности) а также для измерения скорости и длины материалов, движущихся относительно датчика (в индустрии).
                                    p Принцип измерения - растровая пространственная фильтрация изображения объекта, технология защищаетс патентами
                                    .content__text-bottom
                                        a.link(href="https://globalsolutions.ru/" target="_blank") подробнее
                                .content__img
                                    img(src="img/slider/isd-3.jpg", alt="ИСД-3")
                            .decrease-button
                                button    

    .content__bottom
        .container
            .swiper-container.slider-nav
                .swiper-wrapper
                    .swiper-slide
                        .slider-nav__item
                            .slider-nav__img
                                img(src="img/slider/isd-5-min.jpg", alt="ИСД-5")
                        .slider-nav__popup
                            h6 ИСД-5
                            p Оптические датчики скорости и дистанции
                            .slider-nav__popup-triangle
                    .swiper-slide
                        .slider-nav__item
                            .slider-nav__img
                                img(src="img/slider/isd-3-min.png", alt="ИСД-3")
                        .slider-nav__popup
                            h6 ИСД-3
                            p Оптические датчики скорости и дистанции
                            .slider-nav__popup-triangle
                .swiper-button-next
                .swiper-button-prev
// end content 