doctype html
html(lang='ru')
	head
		title Тестовое
		include ../modules/head

	body

		// begin wrapper
		.wrapper

			// begin main-content
			main.main-content

				include ../modules/content
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br
				br

			// end main-content

		// end wrapper


		// scripts 
		include ../modules/scripts